@import "tailwindcss";
* {
 margin: 0;
 padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(/public/images/gettyimages-1195437152-1024x1024.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* style={{ textAlign: "center", margin: "25vh 0", height: "100vh"}} */
#root{
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.3fr 0.5fr 0.1fr 0.4fr;
  grid-template-areas: 
    /* 1st row */
    ". project-heading ."

    /* 2nd row */
    ". exerciseInputForm ."

    /* 2nd row */
    ". showExerciseAbilityToUser ."

    /* 3rd row */
    ". showExercisesToDisplay ."
  ;

  align-self: center;
}

/* exercise input form start */
.exerciseInputForm{
  grid-area: exerciseInputForm;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.5fr);
  gap: 1rem;
  grid-template-areas: 
    /* 1st row */
    "personal-info-fieldset"

    /* 2nd row */
    "calisthenics-input-fieldset"

    /* 3rd row */
    "submitButton"
  ;
}

form {
  text-align: center;
  /* margin: 25vh 0; */
  /* padding: 25vh 0; */
}

input, select{
  background-color: white;
}

.personal-info-fieldset, .calisthenics-input-fieldset{
  border: 2px solid gray;
  padding: 1rem 2rem;
  gap: 1rem;
}

.personal-info-fieldset{
  grid-area: personal-info-fieldset;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 0.3fr;
  grid-template-rows: repeat(3, 0.5fr);
  gap: 1rem;
  grid-template-areas: 
    /* 1st row */
    ". genderLabel genderSelect ."

    /* 2nd row */
    ". ageLabel ageInput ."

    /* 3rd row */
    ". weightLabel weightInput ."
    ;
}

.calisthenics-input-fieldset{
  grid-area: calisthenics-input-fieldset;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 0.3fr;
  grid-template-rows: repeat(6, 0.5fr);;
  grid-template-areas: 
    /* 1st row */
    ". weightLabel weightInput ."

    /* 2nd row */
    ". initialPushupsLabel initialPushupsInput ."

    /* 3rd row */
    ". initialSquatsLabel initialSquatsInput ."

    /* 4th row */
    ". initialPullupsLabel initialPullupsInput ."

    /* 5th row */
    ". initialRopeskipsLabel initialRopeskipsInput ."

    /* 6th row */
    ". fitnessGoalLabel fitnessGoalSelect ."
  ;
}

.project-heading{
  grid-area: project-heading;
  text-align: center;
  align-self: center;
}

.genderSelect{
  grid-area: genderSelect;
}

.genderLabel{
  grid-area: genderLabel;
  align-self: center;
}

.ageLabel{
  grid-area: ageLabel;
  align-self: center;
}

.ageInput{
  grid-area: ageInput;
}

.weightLabel{
  grid-area: weightLabel;
  align-self: center;
}

.weightInput{
  grid-area: weightInput;
}

.initialPushupsLabel{
  grid-area: initialPushupsLabel;
  align-self: center;
}

.initialPushupsInput{
  grid-area: initialPushupsInput;
}

.initialPullupsLabel{
  grid-area: initialPullupsLabel;
  align-self: center;
}

.initialPullupsInput{
  grid-area: initialPullupsInput;
}

.initialSquatsLabel{
  grid-area: initialSquatsLabel;
  align-self: center;
}

.initialSquatsInput{
  grid-area: initialSquatsInput;
}

.initialRopeskipsLabel{
  grid-area: initialRopeskipsLabel;
  align-self: center;
}

.initialRopeskipsInput{
  grid-area: initialRopeskipsInput;
}

.fitnessGoalLabel{
  grid-area: fitnessGoalLabel;
  align-self: center;
}

.fitnessGoalSelect{
  grid-area: fitnessGoalSelect;
}

.submitButton{
  grid-area: submitButton;
  background-color: skyblue;
}

.submitButton:hover{
  background-color: white;
  border: 3px solid skyblue;
}
/* exercise input form end */

.showExerciseAbilityToUser{
  grid-area: showExerciseAbilityToUser;
  text-align: center;
  align-self: center;
}

.showExercisesToDisplay{
  grid-area: showExercisesToDisplay;
  text-align: center;
  align-self: center;
}