@import "tailwindcss";
* {
 margin: 0;
 padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

/* style={{ textAlign: "center", margin: "25vh 0", height: "100vh"}} */
#root{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; /*navbar is auto & main is 1fr*/
  grid-template-areas: 
    /* 1st row */
    "navbar"

    /* 2nd row */
    "main"
  ;

  min-height: 100vh;
  align-self: center;
}

/* navbar start */
.navbar{
  grid-area: navbar;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: rgb(0 0 0 / 50%);
  background: url(/images/gradients/navbar-bg.png) center/cover no-repeat;
  height: 4rem;
}

.navbar li a{
  background-color: skyblue;
  padding: 0.5vh 1.5vw;
}

.navbar li a:hover{
  border: 0.3rem solid #FFFFFF;
  /* background-color: transparent; */
  /* color: white; */
  /* font-weight: 600;
  padding: 0.5vw 1.5vw; */
}

/* .navbar:hover{
  background: linear-gradient(#FF7F50, #FFE5B4);
} */

ul{
  display: grid;
  /* grid-template-rows: 0.1fr; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    /* 1st row */
    "navbar-home navbar-calisthenicsPlanner navbar-FAQs navbar-muscleGainFatLoss navbar-nutritionAdvice"
  ;
  /* justify-content: center; */
}

.navbar-home{
  grid-area: navbar-home;
  justify-self: center;
  align-self: center;
  /* border: 5px solid white; */
}

.navbar-calisthenicsPlanner{
  grid-area: navbar-calisthenicsPlanner;
  justify-self: center;
  align-self: center;
  /* border: 5px solid white; */
}

.navbar-FAQs{
  grid-area: navbar-FAQs;
  justify-self: center;
  align-self: center;
  /* border: 5px solid white; */
}

.navbar-muscleGainFatLoss{
  grid-area: navbar-muscleGainFatLoss;
  justify-self: center;
  align-self: center;
  /* border: 5px solid white; */
}

.navbar-nutritionAdvice{
  grid-area: navbar-nutritionAdvice;
  justify-self: center;
  align-self: center;
  /* border: 5px solid white; */
}

/* .navbar-home, .navbar-calisthenicsPlanner, .navbar-FAQs, .navbar-muscleGainFatLoss, .navbar-nutritionAdvice {
  font-weight: 100;
} */
/* navbar end */

/* exercise input form start */
.exerciseInputForm{
  grid-area: exerciseInputForm;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0.5fr) 0.4fr;
  gap: 1rem;
  grid-template-areas: 
    /* 1st row */
    "personal-info-fieldset"

    /* 2nd row */
    "calisthenics-input-fieldset"

    /* 3rd row */
    "submitButton"
  ;
  align-self: center;
}

form {
  text-align: center;
  /* margin: 25vh 0; */
  /* padding: 25vh 0; */
}

input, select{
  background-color: white;
}

label{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
}

.personal-info-fieldset, .calisthenics-input-fieldset{
  border: 2px solid gray;
  padding: 1rem 2rem;
  gap: 1rem;
}

.personal-info-fieldset{
  grid-area: personal-info-fieldset;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 0.3fr;
  grid-template-rows: repeat(3, 0.5fr);
  gap: 1rem;
  grid-template-areas: 
    /* 1st row */
    ". genderLabel genderSelect ."

    /* 2nd row */
    ". ageLabel ageInput ."

    /* 3rd row */
    ". weightLabel weightInput ."
    ;
}

.calisthenics-input-fieldset{
  grid-area: calisthenics-input-fieldset;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 0.3fr;
  grid-template-rows: repeat(6, 0.5fr);;
  grid-template-areas: 
    /* 1st row */
    ". weightLabel weightInput ."

    /* 2nd row */
    ". initialPushupsLabel initialPushupsInput ."

    /* 3rd row */
    ". initialSquatsLabel initialSquatsInput ."

    /* 4th row */
    ". initialPullupsLabel initialPullupsInput ."

    /* 5th row */
    ". initialRopeskipsLabel initialRopeskipsInput ."

    /* 6th row */
    ". fitnessGoalLabel fitnessGoalSelect ."
  ;
}

.genderSelect{
  grid-area: genderSelect;
}

.genderLabel{
  grid-area: genderLabel;
  align-self: center;
}

.ageLabel{
  grid-area: ageLabel;
  align-self: center;
}

.ageInput{
  grid-area: ageInput;
}

.weightLabel{
  grid-area: weightLabel;
  align-self: center;
}

.weightInput{
  grid-area: weightInput;
}

.initialPushupsLabel{
  grid-area: initialPushupsLabel;
  align-self: center;
}

.initialPushupsInput{
  grid-area: initialPushupsInput;
}

.initialPullupsLabel{
  grid-area: initialPullupsLabel;
  align-self: center;
}

.initialPullupsInput{
  grid-area: initialPullupsInput;
}

.initialSquatsLabel{
  grid-area: initialSquatsLabel;
  align-self: center;
}

.initialSquatsInput{
  grid-area: initialSquatsInput;
}

.initialRopeskipsLabel{
  grid-area: initialRopeskipsLabel;
  align-self: center;
}

.initialRopeskipsInput{
  grid-area: initialRopeskipsInput;
}

.fitnessGoalLabel{
  grid-area: fitnessGoalLabel;
  align-self: center;
}

.fitnessGoalSelect{
  grid-area: fitnessGoalSelect;
}

.submitButton{
  grid-area: submitButton;
  background-color: skyblue;
}

.submitButton:hover{
  background-color: white;
  border: 7px outset skyblue;
}
/* exercise input form end */

.showExerciseAbilityToUser{
  grid-area: showExerciseAbilityToUser;
  text-align: center;
  align-self: center;
}

.showExercisesToDisplay{
  grid-area: showExercisesToDisplay;
  text-align: center;
  align-self: center;
}