* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lightBulb-with-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.1fr repeat(3, 0.3fr) 0.1fr;
  grid-template-areas:
    /* 1st row */
    ". . ."

    /* 2nd row */
    ". heading ."

    /* 3rd row */
    ". lightBulb-Holder ."

    /* 4th row */
    ". toggleButton-Holder ."

    /* 5th row */
    ". . ."
  ;
  background-color: black;
  height: 100vh;
}

.heading {
  grid-area: heading;
  justify-self: center;
  align-self: center;
}

.lightBulb-Holder {
  grid-area: lightBulb-Holder;
  justify-self: center;
  align-self: center;
}

.toggleButton-Holder {
  grid-area: toggleButton-Holder;
  justify-self: center;
  margin-top: 1rem;
}
